<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block head %}{% endblock %}</title>
    </head>
    <body>
            {% block body %}
            {% endblock %}
    </body>
</html>