{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Welcome on my CRUD board!</h1>
    <a href="/staccah" style="text-align: center">Delete everything!</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Cool features</th>
            <th>Doggy</th>
        </tr>
        {% for el in list %}
            <tr>
                <th>
                    {{el.note}}
                </th>
                <th>
                    <form action="{{el.id}}/update" method="get">
                        <input type="submit" value="Update">
                    </form>
                    <form action="{{el.id}}/delete" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </th>
                <th>
                    <img height="100px" src="{{img[el.id-1]}}">
                </th>
            </tr>
        {% endfor %}
    </table>

    <form method="post">
        <label for="note">Text</label>
        <input type="text" name="note" id="note">
        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}