{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Welcome on my CRUD board!</h1>
    <table>
        <tr>
            <th>Name</th>
        </tr>
            <tr>
                <th>{{el.note}}</th>
            </tr>
    </table>

    <form method="post">
        <label for="note">Text</label>
        <input type="text" name="note" id="note" value="{{el.note}}">
        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}