.content {
    margin: auto;  
    width: 800px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}